.popup__name {
    width: 358px;
    height: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);   
}

@media screen and (max-width: 450px) {

    .popup__name {
      width: 238px;
      height: 27px;
      margin: 0 22px 30px 22px;
    }
}
    