.popup__save-button {
    background-color: #000;
    width: 358px;
    height: 50px;
    color: #fff;
    margin: 48px auto 0;
    border: none;
}

.popup__save-button:hover {
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    .popup__save-button {
      width: 238px;
      height: 46px;
      margin: 15px auto 25px;
      display: block;
    }
}