.popup__save-button {
    background-image: url(../../../images/popup__save-button.png);
    background-repeat: no-repeat;
    background-size: 358px 50px;
    width: 358px;
    height: 50px;
    color: #fff;
    margin: 0 auto;
}

.popup__save-button:hover {
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    .popup__save-button {
      width: 238px;
      height: 46px;
      margin: 0 22px 25px 22px;
    }
}