.page__footer {
    max-width: 318px;
    min-height: 18px;
    margin: 67px 0 60px 200px;
}

@media screen and (max-width: 1279px) {
  
    .page__footer {
      max-width: 282px;
      min-height: 14px;
      margin: 48px auto 36px;
    }
  }